* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid red;
}

body {
  font-family: Roboto, sans-serif;
}

/* Header */
header ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.712);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

header ul li a.active {
  color: #0182f9;
  padding-bottom: 58px;
  border-bottom: 5px solid blue;
}

header ul a:hover {
  color: #0182f9;
}

/* Main */

.gray {
  background-color: #1c1c1c;
  color: white;
  min-height: 200px;
}

.blue {
  background-color: #0182f9;
  min-height: 200px;
}

.shop {
  height: 100%;
}

.shop a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
}

.shop img {
  width: 60px;
  height: 75px;
}

/* Footer */

.footerTop {
  background-image: url(/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}

.background {
  background-image: url(/img/dc-logo-bg.png);
  background-repeat: no-repeat;
  transform: scale(1.2);
  height: 91%;
}

footer h4 {
  color: white;
  text-transform: uppercase;
}

footer ul {
  padding: 0;
}

footer ul li a {
  text-decoration: none;
  color: rgb(165, 165, 165);
  font-weight: 200;
  line-height: 10px;
  padding: 0;
}

.footerBottom {
  background-color: #303030;
  min-height: 100px;
}

.follow {
  color: #0182f9;
}
