/* Global */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid red;
}

body {
  font-family: Roboto, sans-serif;
}

/* Header */

header ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.712);
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;

  &.active {
    color: #0182f9;
    padding-bottom: 58px;
    border-bottom: 5px solid blue;
  }

  &:hover {
    color: #0182f9;
  }
}

/* Main */

.gray {
  background-color: #1c1c1c;
  color: white;
  min-height: 200px;
}

.blue {
  background-color: #0182f9;
  min-height: 200px;
}

.shop {
  height: 100%;

  a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
  }

  img {
    width: 60px;
    height: 75px;
  }
}

.jumbo {
  background-image: url(/img/jumbotron.jpg);
  min-height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-card {
  width: 200px;
  height: 250px;
  img {
    width: 100%;
    height: 200px;
    margin-bottom: 0;
  }
}

.csm-button {
  border: none;
  background-color: #0182f9;
  width: 200px;
  height: 40px;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
  }
}

.label {
  text-align: center;
  background-color: #0182f9;
  height: 50px;
  width: 270px;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  bottom: -25px;
  left: 275px;
}
/* Footer */

footer {
  h4 {
    color: white;
    text-transform: uppercase;
  }
  ul {
    padding: 0;

    li a {
      text-decoration: none;
      color: rgb(165, 165, 165);
      font-weight: 200;
      line-height: 10px;
      padding: 0;
    }
  }
}

.footerTop {
  background-image: url(/img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;

  .background {
    background-image: url(/img/dc-logo-bg.png);
    background-repeat: no-repeat;
    transform: scale(1.2);
    height: 91%;
  }
}

.footerBottom {
  background-color: #303030;
  min-height: 100px;

  .follow {
    color: #0182f9;
  }
}
